#main {
    width: auto;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    background-image: url('../img/no7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#header::after {
    content: '';
    display: block;
    clear: both;
}

.header1 {
    /*width: 30%;*/
    height: 100px;
    float: left;
}

.img1 {
    height: 50px;
    padding: 33px 15px;
}

.img2 {
    height: 100px;
    float: right;
}

.header2 {
    float: right;
}

#menuhead {
    float: right;
    padding: 0 15px;
}

#menuhead li {
    display: inline-block;
    padding: 14px 10px;
}

#menuhead li a {
    text-decoration: none;
    border-width: 0px;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-family: Neucha;
    font-size: 27px;
    border-radius: 5px;
    padding: 3px 3px;
}

#menuhead li a:hover {
    background: #9ACD32;

}

#menu_reality {
    background-color: #63cd96;
}

.container {
    text-align: center;
}

#menureal {
    margin: 0;
    padding: 5px;
}

#menureal li {
    display: inline-block;
}

#menureal li a {
    text-decoration: none;
    color: white;
    border-width: 0px;
    display: inline-block;
    text-align: center;
    font-family: Neucha;
    font-size: 27px;
    border-radius: 5px;
    padding: 3px 30px;
}

#menureal li a:hover {
    background: #22934a;
}

#content {
    background-color: #8080FF;
    width: 100%;
    height: 700px;
}

#footer {
    background-color: #FFC0FF;
    width: 100%;
    height: 100px;
}